.github
.dockerignore
.gitignore
.gitmodules
.idea
AUTHORS.txt
installAJAN.bat
LICENSE
licenseheader.txt
licenseheader_authors.txt
README.md
startAJAN-loadTTL-false.bat
startAJAN.bat
startAll.bat
startTriplestore.bat
THIRDPARTYLICENSE
./pluginsystem/plugins/plugins.iml
./pluginsystem/plugins/pom.xml
