nbactions.xml
/build-resources/target/
/executionservice/target/
/triplestore/target/
/behaviour/target/
/common/target/
/functions/target/
*.extract/
.idea
*.iml
/plugins/target/
/plugin-system/target/
/system/target/
/plugin-system/extensionpoints/target/
/plugin-loader/target/
/plugin-system/extension-points/target/
/plugin-system/plugin-loader/target/
/plugin-system/loader/target/
/behavior/target/
/plugin-system/plugins/TestPlugin/target/
/pluginsystem/loader/target/
/pluginsystem/plugins/StandardBTNodes/target/
/pluginsystem/plugins/STRIPSPlugin/target/
/pluginsystem/plugins/ASPPlugin/target/
/pluginsystem/pluginContainer/*
/pluginsystem/plugins/MappingPlugin/target/
/pluginsystem/plugins/NavigationPlugin/target/
/pluginsystem/plugins/MLPlugin/target/
/pluginsystem/plugins/FeinplanerPlugin/target/
/pluginsystem/plugins/ThriftPlugin/target/
/pluginsystem/endpoints/target/
/pluginsystem/plugins/MOSIMPlugin/target/
/pluginsystem/plugins/MQTTPlugin/target/
/pluginsystem/target/
/pluginsystem/plugins/target/
/pluginsystem/plugins/PythonPlugin/target/
/target/
/pluginsystem/plugins/MDPPlugin/target/
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/__init__.py
/pluginsystem/deployments/ASPPlugin-0.1-all.jar
/use-case/editor/nodeDefinitions/aspplugin_Nodedefinitions-ajan.ttl
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/client_config.py
/pluginsystem/plugins/OPCUAPlugin/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/pluginsystem/plugins/ScriptExecutorPlugin/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/pluginsystem/plugins/ScriptExecutorPlugin/target/classes/de/dfki/asr/ajan/pluginsystem/scriptexecutorplugin/extensions/CustomScriptNode.class
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/event_handler.py
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/event_types.py
/pluginsystem/plugins/ScriptExecutorPlugin/target/classes/scripts/example_script.py
/pluginsystem/plugins/OPCUAPlugin/target/classes/META-INF/extensions.idx
/pluginsystem/plugins/ScriptExecutorPlugin/target/classes/META-INF/extensions.idx
/fix_maven_env.bat
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/ijt_logger.py
/pluginsystem/plugins/OPCUAPlugin/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/pluginsystem/plugins/ScriptExecutorPlugin/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/main.py
/pluginsystem/plugins/ScriptExecutorPlugin/target/classes/META-INF/MANIFEST.MF
/pluginsystem/deployments/MappingPlugin-0.1-all.jar
/use-case/editor/nodeDefinitions/mappingplugin_Nodedefinitions-ajan.ttl
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/method_caller.py
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/Methods_Usage.txt
/migrationmatrix.md
/pluginsystem/deployments/MOSIMPlugin-0.1-all.jar
/use-case/editor/nodeDefinitions/mosimplugin_Nodedefinitions-ajan.ttl
/pluginsystem/deployments/MQTTPlugin-0.1-all.jar
/use-case/editor/nodeDefinitions/mqttplugin_Nodedefinitions-ajan.ttl
/pluginsystem/plugins/OPCUAPlugin/target/classes/node_definitions.ttl
/pluginsystem/plugins/ScriptExecutorPlugin/target/classes/node_definitions.ttl
/pluginsystem/plugins/OPCUAPlugin/target/classes/de/dfki/asr/ajan/pluginsystem/opcuaplugin/extensions/Nodedefinitions.class
/pluginsystem/plugins/ScriptExecutorPlugin/target/classes/de/dfki/asr/ajan/pluginsystem/scriptexecutorplugin/extensions/Nodedefinitions.class
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/opcua_client.py
/pluginsystem/plugins/OPCUAPlugin/target/classes/de/dfki/asr/ajan/pluginsystem/opcuaplugin/extensions/OPCUAEnableAssetNode.class
/pluginsystem/plugins/OPCUAPlugin/target/classes/de/dfki/asr/ajan/pluginsystem/opcuaplugin/OPCUAPlugin.class
/pluginsystem/plugins/OPCUAPlugin/target/OPCUAPlugin-0.1.jar
/pluginsystem/deployments/OPCUAPlugin-0.1-all.jar
/pluginsystem/plugins/OPCUAPlugin/target/OPCUAPlugin-0.1-shaded.jar
/use-case/editor/nodeDefinitions/opcuaplugin_Nodedefinitions-ajan.ttl
/pluginsystem/plugins/OPCUAPlugin/target/classes/de/dfki/asr/ajan/pluginsystem/opcuaplugin/extensions/OPCUASelectJointNode.class
/pluginsystem/plugins/OPCUAPlugin/target/classes/de/dfki/asr/ajan/pluginsystem/opcuaplugin/extensions/OPCUASetupNode.class
/pluginsystem/plugins/OPCUAPlugin/target/classes/de/dfki/asr/ajan/pluginsystem/opcuaplugin/extensions/OPCUAStartJoiningNode.class
/pluginsystem/plugins/OPCUAPlugin/target/original-OPCUAPlugin-0.1.jar
/pluginsystem/plugins/ScriptExecutorPlugin/target/classes/de/dfki/asr/ajan/pluginsystem/scriptexecutorplugin/extensions/package-info.class
/pluginsystem/plugins/OPCUAPlugin/target/classes/plugin.properties
/deployments/plugins-0.1-all.jar
/pluginsystem/pluginsystem.md
/pluginsystem/plugins/OPCUAPlugin/target/maven-archiver/pom.properties
/pluginsystem/plugins/ScriptExecutorPlugin/target/maven-archiver/pom.properties
/pluginsystem/PYTHON_SHARING_ARCHITECTURE.md
/pluginsystem/deployments/PythonPlugin-0.1-all.jar
/use-case/editor/nodeDefinitions/pythonplugin_Nodedefinitions-ajan.ttl
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/README.md
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/result_event_handler.py
/pluginsystem/deployments/RMLMappingPlugin-0.1-all.jar
/use-case/editor/nodeDefinitions/rmlmappingplugin_Nodedefinitions-ajan.ttl
/pluginsystem/plugins/ScriptExecutorPlugin/target/classes/de/dfki/asr/ajan/pluginsystem/scriptexecutorplugin/ScriptExecutorPlugin.class
/pluginsystem/plugins/ScriptExecutorPlugin/target/ScriptExecutorPlugin-0.1.jar
/pluginsystem/deployments/ScriptExecutorPlugin-0.1-all.jar
/use-case/editor/nodeDefinitions/scriptexecutorplugin_Nodedefinitions-ajan.ttl
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/serialize_data.py
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/setup_client.py
/pluginsystem/deployments/StandardBTNodes-0.1-all.jar
/use-case/editor/nodeDefinitions/standardbtnodes_Nodedefinitions-ajan.ttl
/pluginsystem/deployments/STRIPSPlugin-0.1-all.jar
/use-case/editor/nodeDefinitions/stripsplugin_Nodedefinitions-ajan.ttl
/upacuaplugin.md
/pluginsystem/plugins/OPCUAPlugin/target/classes/scripts/opcua/utils.py
